################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Cepre.BaseDatos/obj/Debug/Cepre.BaseDatos.dll
