<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb">
            <li>
                <a ui-sref="Encuesta.Lista">Encuesta</a>
            </li>
            <li class="active">
                <strong>Encuestas Activas</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>LISTA DE ENCUESTAS </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-10 col-md-10">
                        <a ui-sref="Encuesta.Responder">
                            <h2> <i class="fa fa-edit"></i> Ecuesta para el estudiante 01</h2>
                        </a>
                        <a ui-sref="Encuesta.Responder">
                            <h2> <i class="fa fa-edit"></i> Ecuesta para el estudiante 02</h2>
                        </a>
                    </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>