<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb">
            <li>
                <a ui-sref="Encuesta.Lista">Encuesta</a>
            </li>
            <li class="active">
                <strong>Responder Encuesta</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>RESPUESTAS DE LA ENCUESTA: <b><i class="fa fa-edit"></i> Ecuesta para el estudiante 01</b> </h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="row">

                    <form action="">   
                    <div class="col-lg-10 col-md-10">
                    <ol>
                        <strong><li>Pregunta Numero 01 para el estudiante</li></strong>

                        <div class="form-group ">
                        <div class="input-group">
                            <input name="Alternativa" type="radio" value="1" />Alternativa 01
                            <br />
                            <input name="Alternativa" type="radio" value="2" />Alternativa 02
                            <br />
                            <input name="Alternativa" type="radio" value="3" />Alternativa 03
                        </div>
                        </div>

                        <strong><li>Pregunta Numero 02 para el estudiante</li></strong>
                        <div class="form-group ">
                        <div class="input-group">
                            <input name="Alternativa" type="radio" value="1" />Alternativa 01
                            <br />
                            <input name="Alternativa" type="radio" value="2" />Alternativa 02
                            <br />
                            <input name="Alternativa" type="radio" value="3" />Alternativa 03
                        </div>
                        </div>
                        <strong><li>Pregunta Numero 03 para el estudiante</li></strong>
                        <div class="form-group ">
                        <div class="input-group">
                            <input name="Alternativa" type="radio" value="1" />Alternativa 01
                            <br />
                            <input name="Alternativa" type="radio" value="2" />Alternativa 02
                            <br />
                            <input name="Alternativa" type="radio" value="3" />Alternativa 03
                        </div>
                        </div>
                    </ol>

                        <br>
                        <center>
                            <div class="form-group ">
                            <div class="input-group">
                            <button type="submit" class="btn btn-success"><i class="fa fa-send" ></i> Guardar</button>
                            <a ui-sref="Encuesta.Lista" class="btn btn-warning" style="margin-left: 5px;"><i class="fa fa-reply-all"></i> Cancelar</a>
                            </div>
                            </div> 
                        </center>
                    </div>

                    </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>