<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">

        <ol class="breadcrumb">
            <li>
                <a ui-sref="Mantenimiento.Lista">Mantenimiento</a>
            </li>
            <li class="active">
                <strong>Lista</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-10">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>LISTA DE MATENIMIENTO</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">

             
                    <div class="row">
                            <div class="form-group" >
                            <a ui-sref="Mantenimiento.Nuevo" class="btn btn-success" style="margin-left: 5px;"><i class="fa fa-cogs"></i> Nuevo Mantenimiento</a>
                            </div><br>
                        <table class="table">
                            <thead>
                                <th>Tabla</th>
                                <th>Atributo</th>
                                <th>Nombres/ Descripcion</th>
                                <th>Controles</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Area </td>
                                    <td>Area</td>
                                    <td>Area I CIENCIAS</td>
                                    <td>
                                        <a href="" class="btn btn-primary"><i class="fa fa-pencil"></i> Editar</a>
                                        <a href="" class="btn btn-warning"><i class="fa fa-close"></i> ELiminar</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--<div class="form-group">

                        <div class="input-group">
                            <label class="col-md-4 control-label">Nombres</label>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input name="first_name" placeholder="Nombres" class="form-control" type="text">
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>